<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Resume</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />
	{% load static %}
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'resume.css' %}" media="all" />
	<link type="text/css" rel="stylesheet" href="{% static 'font-aws/all.css' %}">


</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Amartya Mishra</h1>
					<h2 style="font-size: 11pt;">"Creating value through software innovation"</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<!-- <h3><a id="pdf" href="#">Download PDF</a></h3> -->
						<h3><i class="fas fa-envelope"></i> <a href="mailto:aman_22@outlook.com" style="text-decoration: none;">aman_22@outlook.com</a></h3>
						<h3><i class="fas fa-phone-alt"></i> (+91) 7289001100</h3>
						<h3><i class="fab fa-github"></i> <a href="https://github.com/PROGRAMMER221" target="_blank" style="text-decoration: none;">GitHub</a></h3>
						<h3><i class="fab fa-linkedin-in"></i> <a href="https://www.linkedin.com/in/amartya-mishra-5b49411ba/" target="_blank" style="text-decoration: none;">LinkedIn</a></h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge"cc>
								Software Programmer | Competitive Programmer |Logic Building | Quick Thinking | Adaptive | Creative | Dedicated |&nbsp;Hard Working
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Artifical Intelligence</h2>
									<p>Qualified in Machine learning & Deep learning</p>
								</div>

								<div class="talent">
									<h2>Native App-Developer</h2>
									<p>Quite Skilled with Native mobile application development.</p>
								</div>

								<div class="talent">
									<h2>Web Development</h2>
									<p>Highly Skilled in full-stack web development</p>
								</div>
						</div>
						<div class="yui-u" style="margin-top: 20px;">

							<div class="talent">
								<h2>Project Management</h2>
								<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
							</div>
					</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<h2>Programming Languages</h2>
								<li>Python</li>
								<li>C</li>
								<li>C++</li>
								<li class="last">Java</li>
							</ul>

							<ul class="talent">
								<h2>Machine & Deep Learning</h2>
								<li>Tensorflow</li>
								<li>PyTorch</li>
								<li>Keras</li>
								<li class="last">Scikit-Learn</li>
							</ul>
							<ul class="talent">
								<h2>Data Visulaization &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
								<li>Numpy</li>
								<li>Pandas</li>
								<li>Matplotlib</li>
								<li class="last">SeaBorn</li>
							</ul>
						</div>
						<div class="yui-u" style="margin-top: 20px;">
							<ul class="talent">
								<h2>Database Management &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
								<li>MS SQL</li>
								<li class="last">SqlLite</li>
							</ul>

							<ul class="talent">
								<h2>Native App Development</h2>
								<li>React-Native</li>
								<li class="last">Kiwi</li>
							</ul>

							<ul class="talent">
								<h2>Web Development &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
								<li>Django</li>
								<li>Django Rest Framework</li>
								<li>React</li>
								<li>JavaScript</li>
								<li>JQuery</li>
								<li>HTML</li>
								<li  class="last">CSS</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Projects</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<div class="job">
								<h2>Multi-class Weather Classification: Comparative Analysis of machine learning models</h2>
								<h3>Machine learning and Deep Learning</h3>
								<p style="text-align: justify;">A comparative analysis on different Machine learning and Deep Learning Algorithms using Five Class Weather Image classification Dataset.</p>
							</div>

							<div class="job">
								<h2>Shop-Site</h2>
								<h3>Web Development</h3>
								<p style="text-align: justify;">Full-Stack E-commerce site developed using basic web technologies and python web framework i.e Django and Sqllite as database</p>
							</div>

							<div class="job">
								<h2>Online Charity Management</h2>
								<h3>Web Development</h3>
								<p style="text-align: justify;">Gives NGO's an online platform to discover contributors on a large scale. Featuring advanced functions and features like custom django models and Validations. </p>
							</div>

							<div class="job">
								<h2>Rest API</h2>
								<h3>Web Development</h3>
								<p style="text-align: justify;">Rest API created using django rest framework and used in other projects developed using react and react-native. Incorporated two ways of authentication i.e., Basic Authentication and Token Authentication</p>
							</div>

							<div class="job last">
								<h2>Movie Rater App</h2>
								<h3>Native App Development</h3>
								<p style="text-align: justify;">Using React-Native and original Rest API a mobile application for rating movies has been developed and deployed</p>
							</div>



						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Sharda University - Greater noida, UP</h2>
							<h3>BTech CSE with specialization in AI & ML ( Currently in 4th Year ) </h3>
						</div>

						<div class="yui-u" style="margin-top: 20px;">
							<h2>SGNPS - Adrash Nagar, New Delhi</h2>
							<h3>Completed 10th and 12th in 2016 & 2018</h3>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Achievements</h2>
						</div>
						<div class="yui-u">
							<h2>Research Paper</h2>
							<h3 style="text-align: justify;">Have done research work on Multi-class weather classification: Comparative analysis of machine learning models. Submitted my research at ICDIS International Conference and it has been accepted for publication in Springer Book Series on Lecture Notes in Networks and Systems.</h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<!-- <div id="ft">
			<a class="btn-outline-git" href="https://github.com/PROGRAMMER221"><i class="fab fa-github-square" style="font-size: 35pt;"></i></a>
			<a class="btn-outline-link" href=""><i class="fab fa-linkedin" style="font-size: 35pt;"></i></a>
		</div>// footer -->

	</div><!-- // inner -->


</div><!--// doc -->

<script src='{% static "font-aws/all.js" %}'></script>
</body>
</html>

